@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+IS:wght@100..400&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #FF988D;
    padding: 35px;
    color: white;
    border-radius: 20%;
    text-align: center;
}

a{color: black !important;font-family: "Playwrite IS", cursive !important;padding: 5px;margin: 6px;font-size: 15px;}
.btc{text-decoration:underline;cursor: pointer;color:#FFFF8D}